<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CONNSTR_ILAS" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=BW-7.bw.com)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=XE)));User Id=reporter;Password=reporter;" providerName="Oracle.DataAccess.Client"/>
    <!--<add name="CONNSTR_ILAS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.12.17.144)(PORT=1523)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=GLC)));User Id=reporter;Password=reporter;" providerName="Oracle.DataAccess.Client"/>-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <location path="PL/Controller_Ext.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>

  <location path="PL/Controller_Ext.asmx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
</configuration>
